[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=mukesh
Group=mukesh
WorkingDirectory=/home/mukesh/app/src/
Environment="PATH=/home/mukesh/app/venv/bin"
EnvironmentFile=/home/mukesh/.env
ExecStart=/home/mukesh/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target